# Authentication settings
auth-service: {{getv "/auth/service"}}
username: {{getv "/username"}}
password: {{getv "/password"}}

# Search settings
location: {{getv "/location"}}
scan-delay: {{getv "/scan/delay"}}
step-limit: {{getv "/step/limit"}}

# Misc
gmaps-key: {{getv "/gmaps/key"}}

# Webserver settings
host: {{getv "/host"}}
port: {{getv "/port"}}

{{if getv "/mysql/host"}}
# Database settings
db-type: mysql
db-host: {{getv "/mysql/host"}}
db-name: {{getv "/mysql/name"}}
db-user: {{getv "/mysql/user"}}
db-pass: {{getv "/mysql/pass"}}
{{end}}
